.season_tabs {
    position: relative;
    min-height: 360px; /* This part sucks */
    clear: both;
    margin: 25px 0;
    font-family: sans-serif;
  }
  .season_tab {
    float: left;
    clear: both;
    width: 286px;
  }
  .season_tab label {
      background: white;
      padding: 0px;
      border: 1px solid #ccc;
      margin-left: -1px;
      font-size: 21px;
      vertical-align: middle;
      position: relative;
      left: 1px;
      width: 264px;
      height: 30px;
      font-family: sans-serif;
      display: table-cell;
  }
  .season_tab [type=radio] {
    display: none;
  }
  .season_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: sans-serif;
   }
  .season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop;
  }
  [type=radio]:checked ~ label {
    background: #ed502e;
    border-bottom: 3px solid #0f2f57;
    color: white;
    z-index: 2;
    font-family: sans-serif;
    padding-left: 5px;
    border-radius: 5px;
    height: 20px;
    color: #0f2f57;

  }
  [type=radio]:checked ~ label ~ .season_content {
    z-index: 1;
  }
